

*{
    padding: 0px;
    margin: 0px;
}

body{
     background-color: #edf5e1;
}

header{
    top: 0%;
    height: 10vh;
    width: 100%;
    background-color: #5cdb95;
    position: fixed;
    display: flex;
    align-items: center;
}

header a {
    margin-left: 10px;
    text-decoration: none;
}

header a h1{
    color: #05386b;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
}

#infoIzmena{
    position: absolute;
    right: 70px;
}

#infoIzmena a{
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoIzmena a:hover{
    cursor: pointer;
}

#infoIzmena a p{
    padding: 3px;
    font-size: 24px;
    font-family: sans-serif;
    color: #05386b;
    font-weight: bold;
    display: flex;
    border: 5px solid #05386b;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


#butGetExit{
    padding: 3px;
    font-size: 24px;
    font-family: sans-serif;
    color: #05386b;
    font-weight: bold;
    display: flex;
    border: 5px solid #05386b;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#butGetExit:hover{
    cursor: pointer;
}

#DayOrNight{
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 100px;
    height: 45px;
    border: 5px solid #05386b;
    background-color: #42AAFF;
    margin-left: 10px;
}

#DayOrNight:hover{
    cursor: pointer;
}

#circle{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 30px;
    left: 18px;
    transition: 0.3s left ease-in-out;
}
#threePalki{
    position: absolute;
    left: calc(100% - 60px);
    flex-direction: column;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-around;
}

#threePalki:hover{
    cursor: pointer;
}

.palka{
    border-radius: 3px;
    background-color: #05386b;
    width: 50px;
    height: 10px;
}

#oknoVaezd{
    top: 0%;
    position: fixed;
    z-index: 2;
    background-color: #5cdb95;
    height: 100vh;
    width: 25%;
    left: 100%;
    transition: left 0.2s ease-in-out;
}

#NoOknoVaezdBut{
    position: relative;
    left: calc(100% - 60px);
    flex-direction: column;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: calc((10vh - 50px) / 2);
}

#NoOknoVaezdBut:hover .palka{
    cursor: pointer;
}

#outButOknoVaezd a{
    width: 100%;
    text-decoration: none;
}

#outButOknoVaezd a p{
    font-size: 34px;
    font-family: sans-serif;
    color: #05386b;
    font-weight: bold;
    padding: 10px;
    margin: 15px;
}

#outButOknoVaezd a :hover{
    border-radius: 300px;
}

#greyOkno{
    top: 0%;
    position: fixed;
    z-index: 1;
    height:  100vh;
    width: 100%;
    background-color: rgba(216, 214, 214, 0.548);
    right: 100%;
}

#zag{
    height: 90vh;
    width: 100%;
    margin-top: 10vh;
    background-color: #5cdb95;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#zag img{
    width: 550px;
    height: 550px;
}

#allTextZag{
    width: 45%;
}

#allTextZag h1{
    font-size: 100px;
    font-family: sans-serif;
    color: #05386b;
}

#allTextZag p{
    font-size: 34px;
    font-family: sans-serif;
    color: #05386b;
}

#allArticles{
    width: 100%;
}

.articleType{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textArticle{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textArticle h2{
    font-family: sans-serif;
    color: #05386b;
    font-size: 34px;
}

.textArticle p{
    margin-top: 25px;
    font-size: 28px;
    font-family: sans-serif;
}

.articleType img{
    width: 40%;
    border-radius: 30px;
    border: 5px solid #05386b;
}

.butArt{
    text-decoration: none; 
}

.butArt p {
    color: #379683;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border: 5px solid #379683;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}

footer{
    width: 100%;
    margin-top: 10vh;
    height:  15vh;
    background-color: #05386b;
    display: flex;
    align-items: center;
    bottom: 0px;
}


footer p{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 34px;
    color: #edf5e1;
    font-weight: bold;
}

footer a img{
    margin-left: 25px;
    height: 80px;
    width: 80px;
}
